<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
  </head>
  <body class="vh-100">
    <div class="container h-100 d-flex align-items-center">
      <div class="w-50 p-3 border m-auto">
        <p class="h1">Registrarse</p>
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="inputEmail">Email</label>
            <input
              type="email"
              name="email"
              class="form-control"
              id="inputEmail"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="form-group">
            <label for="inputUser">Usuario</label>
            <input
              type="text"
              name="username"
              class="form-control"
              id="inputUser"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="form-group">
            <label for="inputPassword1">Contraseña</label>
            <input
              type="password"
              name="password1"
              class="form-control"
              id="inputPassword"
            />
          </div>
          <div class="form-group">
            <label for="inputPassword2">Confirmar Contraseña</label>
            <input
              type="password"
              name="password2"
              class="form-control"
              id="inputPassword2"
            />
          </div>
          <div>
            {% if error %}
            <p class="text-danger">{{ error }}</p>
            {% endif %}
          </div>
          <div class="d-flex flex-column">
            <button type="submit" class="btn btn-primary mb-3">
              Registrarse
            </button>
            <a href="/users/login/">Iniciar Sesion</a>
          </div>
        </form>
      </div>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"
  ></script>
</html>
